{% extends "mkdocs/base_mkdocs.html.twig" %}

{% block titulo %}
Lançamentos - Manual do Usuário
{% endblock %}

{% block subtitulo %}

            
              Lançamentos
            
          
{% endblock %}

{% block menuEsquerdo %}
<nav aria-label="Navegação" class="md-nav md-nav--primary" data-md-level="0">
<label class="md-nav__title" for="__drawer">
<a aria-label="Manual do Usuário" class="md-nav__button md-logo" data-md-component="logo" href="." title="Manual do Usuário">
<img alt="logo" src="{{ asset('mkdocs/imagens/logo2.png') }}"/>
</a>
    Manual do Usuário
  </label>
<ul class="md-nav__list" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_introducao') }}">
        Introdução
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_inicio') }}">
        Inicio
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_colaborador') }}">
        Colaborador
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_categorias') }}">
        Categorias
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_produtos') }}">
        Produtos
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_lote') }}">
        Lote
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_estoque') }}">
        Estoque
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_cliente') }}">
        Cliente
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_abrir-comanda') }}">
        Abrir Comanda
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_pdv-ponto-de-venda') }}">
        Pdv - Ponto De Venda
      </a>
</li>
<li class="md-nav__item md-nav__item--active">
<input class="md-nav__toggle md-toggle" data-md-toggle="toc" id="__toc" type="checkbox"/>
<a class="md-nav__link md-nav__link--active" href="{{ path('mkdocs_lancamentos') }}">
        Lançamentos
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="{{ path('mkdocs_relatorios') }}">
        Relatórios
      </a>
</li>
</ul>
</nav>
{% endblock %}

{% block menuDireito %}
<nav aria-label="Índice" class="md-nav md-nav--secondary">
</nav>
{% endblock %}

{% block conteudo %}
<article class="md-content__inner md-typeset">
<h1 id="lancamentos">Lançamentos</h1>
<p>Na tela <em>Lançamentos</em>  é onde irá cadastrar as entradas e saídas de dinheiro.</p>
<p><img alt="lançamento" src="{{ asset('mkdocs/imagens/lan%C3%A7amento.png') }}"/></p>
<p>Preencha os campos, descrição, data, valor e selecione se é entrada ou saída do valor. </p>
<p>Clique em <strong>Adicionar</strong>, para cadastrar o lançamento no sistema. </p>
<p>Note que ao lado do formulário há uma tabela, nela aparecerá os lançamentos já cadastrados.</p>
<p>Também na tabela há a opção <em>Excluir</em> <img alt="inativar" src="{{ asset('mkdocs/imagens/excluir-x.png') }}">. Clicando nele irá excluir o lançamento do sistema. </img></p>
</article>
{% endblock %}

{% block rodape %}

{% endblock %}
